<div class="" data-controller="clipboard secret--link-builder" data-secret--link-builder-token-value=<%= @secret.token %>>
  <% if notice.present? %>
    <p class="" id="notice"><%= notice %></p>
  <% end %>

  <span class="">
    <div class=""></div>
    <span class="">Share this secret link:</span>
  </span>

  <p class="">This link will be visible once</p>

  <div class="">
    <%= text_area_tag 'link', nil,
          class: '',
          rows: 8,
          readonly: true,
          data: { "secret--link-builder-target": "link", "clipboard-target": "source" } %>

    <div class="">
      <button
        type="button"
        data-action="clipboard#copy"
        class=""
      > Copy Secret Link
      </button>

      <%= link_to "Create Another Secret", "/", class: "" %>
    </div>
  </div>
</div>
