<div class="mt-10">
  <%= turbo_frame_tag dom_id(secret) do %>
    <div class="">

    <span class="">
      <div class=""></div>
      <span class="">Create A New Secret</span>
    </span>
      <%= render "secrets/form", secret: secret %>
    </div>
  <% end %>
</div>
