<header class="py-3">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-4 bg-light rounded-3 text-center">
      <h1 class="display-6 fw-bold">One Time Secret Link</h1>
      <p class="fs-4">End To End Encrypted</p>
      <div class="secret_form">
        <%= render "secrets/form", secret: secret %>
      </div>
    </div>
  </div>
</header>